<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UniversalTests;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="MembershipDB">
      <providers>
        <clear />
        <add
          name="MembershipDB"
          type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers"
          connectionStringName="DB"
          applicationName="ModernizationDemo"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="RoleDB">
      <providers>
        <clear />
        <add
          name="RoleDB"
          type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers"
          connectionStringName="DB"
          applicationName="ModernizationDemo" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="ProfileDB">
      <providers>
        <clear />
        <add
          name="ProfileDB"
          type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers"
          connectionStringName="DB"
          applicationName="ModernizationDemo" />
      </providers>
      <properties>
        <add name="FirstName" />
        <add name="LastName" />
        <add name="FavoriteNumber" type="System.Int32" />
        <add name="BirthDate" type="System.DateTime" />
        <add name="ImageUrls"
             type="System.Collections.Specialized.StringCollection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add name="ShoppingCart"
             type="ModernizationDemo.UniversalTests.ShoppingCart, ModernizationDemo.UniversalTests"
             serializeAs="Binary"/>
      </properties>
    </profile>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>