<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DotNetCollegeContext" connectionString="metadata=res://*/Model.DotNetCollegeContext.csdl|res://*/Model.DotNetCollegeContext.ssdl|res://*/Model.DotNetCollegeContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=dotnetcollege;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>