<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MembershipTests;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="MembershipDB">
      <providers>
        <clear />
        <add
          name="MembershipDB"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="DB"
          applicationName="ModernizationDemo"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="RoleDB">
      <providers>
        <clear />
        <add
          name="RoleDB"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="DB"
          applicationName="ModernizationDemo" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="ProfileDB">
      <providers>
        <clear />
        <add
          name="ProfileDB"
          type="System.Web.Profile.SqlProfileProvider"
          connectionStringName="DB"
          applicationName="ModernizationDemo" />
      </providers>
      <properties>
        <add name="FirstName" />
        <add name="LastName" />
        <add name="FavoriteNumber" type="System.Int32" />
        <add name="BirthDate" type="System.DateTime" />
        <add name="ImageUrls"
             type="System.Collections.Specialized.StringCollection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add name="ShoppingCart"
             type="ModernizationDemo.MembershipTests.ShoppingCart, ModernizationDemo.MembershipTests"
             serializeAs="Binary"/>
      </properties>
    </profile>
  </system.web>
</configuration>