<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="ModernizationDemo.Wcf.Security.CustomMembershipProvider, ModernizationDemo.Wcf" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="ModernizationDemo.Wcf.Security.CustomRoleProvider, ModernizationDemo.Wcf" />
      </providers>
    </roleManager>
  </system.web>
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ModernizationDemo.Wcf.ProductService" behaviorConfiguration="MessageSecurityBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:44326/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Ws" contract="ModernizationDemo.Wcf.Contracts.IProductService" />
      </service>
      
      <service name="ModernizationDemo.Wcf.OrderService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:50999/" />
            <add baseAddress="https://localhost:44326/" />
            <add baseAddress="net.tcp://localhost:9000/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Basic" contract="ModernizationDemo.Wcf.Contracts.IOrderService" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicSecure" contract="ModernizationDemo.Wcf.Contracts.IOrderService" />
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Tcp" contract="ModernizationDemo.Wcf.Contracts.IOrderService" />
      </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="Basic"
                 maxReceivedMessageSize="2000000" maxBufferSize="2000000" maxBufferPoolSize="20000000">
          <security mode="None" />
        </binding>
        <binding name="BasicSecure"
                 maxReceivedMessageSize="2000000" maxBufferSize="2000000" maxBufferPoolSize="20000000">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      
      <netTcpBinding>
        <binding name="Tcp"
                 maxReceivedMessageSize="2000000" maxBufferSize="2000000" maxBufferPoolSize="20000000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      
      <wsHttpBinding>
        <binding name="Ws">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        
        <behavior name="MessageSecurityBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication
              userNamePasswordValidationMode="MembershipProvider"
              membershipProviderName="CustomMembershipProvider" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"
                                roleProviderName="CustomRoleProvider" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>